#bborder{
  margin: 15px;
  border: 3px dashed purple;
}

#inside{
  margin-top: 275px;
  margin-right: 135px;
  margin-bottom: 2%;
  margin-left: 43%;
  padding: 0;
}

#outside{
  margin-top: 25px;
  margin-right: 140px;
  margin-bottom: 2%;
  margin-left: 44.5%;
  padding: 0;
  font-size: 0.7em;
  color: green;
}

#first{
  color: rgb(223, 174, 89);
  font-size: 3.0em;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 0%;
  margin-left: 0%;
  padding: 50px;
  border: 3px dashed purple;
}

#second{
  color: red;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  margin-left: 5%;
}
