#bborder{
  margin: 15px;
  border: 3px dashed purple;
}

#inside{
  margin-top: 275px;
  margin-right: 140px;
  margin-bottom: 2%;
  margin-left: 43%;
  padding: 0;
}

#outside{
  margin-top: 25px;
  margin-right: 135px;
  margin-bottom: 2%;
  margin-left: 43%;
  padding: 0;
}
